
DB_HOST=localhost
DB_PORT=5555
DB_USERNAME=rahat
DB_PASSWORD=rahat123
DB_NAME=rahat-c2c
DB_RAHAT_CORE=rahat-platform-nx

# Prisma database connection
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
CORE_DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_RAHAT_CORE}?schema=public

INFURA_API_KEY=43babf32ce0346fabbf1c1069418a90b

# NETWORK_PROVIDER=https://sepolia.infura.io/v3/43babf32ce0346fabbf1c1069418a90b


# REDIS envioroment variables
REDIS_HOST=localhost
REDIS_PORT=6666
REDIS_PASSWORD=rahat123

#Project environment variables
PROJECT_ID=
RAHAT_ADMIN_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

# Blockchain environment variables
NETWORK_PROVIDER=http://127.0.0.1:8888
CHAIN_NAME='localhost'
CHAIN_ID=2
CURRENCY_NAME='ETH'
CURRENCY_SYMBOL='ETH'


#Admin
ADMIN_ADDRESS=0x17469fF5Bdc86a5FCeb4604534fF2a47a821d421

#PORT
C2C_PORT=5070